%text-field {
  padding: 3px 5px;
  width: 300px;
  border: 1px solid #4e4e4e;
  border-radius: 3px;
  font-size: 14px;

  &:focus,
  &:focus-visible {
    border-color: black
  }
}

.product-form {
  padding: 2px 15px;

  &__section {
    margin: 0 0 20px;
    padding: 0;
    border: none;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #0a0a0a;
    font-size: 16px;
    line-height: 1.8;


    &+& {
      margin-top: 15px;
    }
  }

  &__input {
    @extend %text-field;

    height: 25px;

    &--price {
      width: 80px;
    }
  }

  &__textarea {
    @extend %text-field;

    min-height: 150px;

    resize: vertical;
  }

  &__button {
    padding: 10px 15px;
    background-color: rgb(47, 47, 189);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    transition: all .15 ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: darken(rgb(47, 47, 189), 5%);
    }

    &:active {
      background-color: darken(rgb(47, 47, 189), 10%);
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .45);
    }

    &[disabled] {
      color: black;
      background-color: #ccc;
      cursor: default;

      &:active {
        box-shadow: none;
      }
    }
  }

  .has-error {
    color: rgb(194, 0, 0);
    border-color: rgb(194, 0, 0);
  }

  .is-required {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -10px;
      color: #b30202;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.3;
      content: '*'
    }
  }
}

.product-details {
  padding: 0 15px;

  &__text {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 1.3;
  }
}