:host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;

  product-card {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .empty-message {
    text-align: center;
    font-weight: 500;
  }
}